# Системные файлы и папки
__pycache__/
*.py[cod]

# Виртуальное окружение
.venv/
venv/

# Конфигурационные файлы
config/.env

# База данных
forbidden_words.db
locustfile.py
# Логи и временные файлы
*.log
*.sqlite3
# *.db
*.pid
*.lock

# Секретные и персональные данные
*.key
*.pem
*.crt

# Кеши
.cache/
*.bak

# Файлы IDE/редактора
.vscode/
.idea/
*.swp
